.search-panel {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: 1rem 0;
}

.search-panel .line-head {
  width: 100%;
  height: 1px;
  background: lightgrey;
  box-sizing: border-box;
}

.search-panel .search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}